* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #000;
  --primary: #AD9551;
  --cardHome : #022744;
  --cyan : #11D1AF;
  --goldenYellow : #FED302;
  --cement : #D9D9D9;

}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
  opacity: 0.6;
}

/* navigate */

.navBox {
  width: 100%;
  position: fixed;
  height: 18vh;
}

.main {
  width: 100%;
  position: absolute;
  top: 100px;
  z-index: -99999;
}

/* Menu */

.line {
  fill: none;
  stroke: var(--black);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
}

/* footer */

.footer{
  width: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
}

/* carousel */

.carousel-indicators [data-bs-target] {
  width: 6px !important;
  height: 6px !important;
  border-radius: 50% !important;
}

.carousel-control-next, .carousel-control-prev{
  width: 10% !important;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
  visibility: hidden;
}

/* swiper */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* timeLine */

.vertical-timeline::before {
  width: 6px !important;
  border-radius: 10px;
  border: 1.5px solid var(--white) !important;
  background: transparent !important;
}

.vertical-timeline-element-icon{
  width: 20px !important;
  height: 20px !important;
  left: 52% !important;
  margin-top: 60px;
  background: var(--white) !important;
  border: none !important;
  box-shadow: none !important;
}

.vertical-timeline-element-content{
  background: none !important;
  box-shadow: none !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.vertical-timeline-element-content-arrow{
  display: none !important;
}